#.NET
[Bb]in/
[Oo]bj/
TestResults
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.psess
*.vsp
*.vspx
*.gpState
_ReSharper*
*.ncrunch*
.*crunch*.local.xml
[Ee]xpress
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish
*.Publish.xml
packages
*.nupkg
*.nuspec
csx
*.build.csdef
AppPackages/
TestResults
*-results.xml
[Tt]est[Rr]esult*
*.Cache
ClientBin
[Ss]tyle[Cc]op.*
*.dbmdl
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML


#JAVA
*.class
*.jar
*.war
*.ear
/.gradle
/build

#GRAILS
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
/prodDb.*
*Db.properties
*Db.script
/stacktrace.log
/test/reports
/logs
/*.war
/*.zip
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
/target
*.iws
/target-eclipse


#RUBY
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.yardoc
_yardoc
doc/